[build]
  command = "yarn install --frozen-lockfile && yarn build"
  publish = "packages/web/.next"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
